.Accueil{
    text-align: left;
    margin: 4%;
}

.AccueilEnTete{
    margin-top: 5%;
    max-width: 90%;

}

.AccueilEnTete h1{
    margin-left: 2px;
    text-transform: uppercase;
    font-family:cursive;
    font-size: 3vw;

}
.AccueilEnTete p{
   line-height: 30px;
   color: #818181;

}
.AccueilEnTete button{
    background-color: inherit;
    border: none;
    font-weight: bold;
    padding: 0;
    font-size: 15px;
    border-bottom: 2.5px solid rgb(21, 1, 1);
    padding-bottom: 5px;
    cursor: pointer;
 }
 .AccueilEnTete button:hover{
    color: rgb(167, 153, 153);
    border-bottom-color: black;
 }

 .AccueilPhoto{
    margin-top: 3%;

 }
 .AccueilPhoto img{
    max-width: 100%;
    height: auto;
    transition: filter 0.5s;
    

 }
 .AccueilPhoto img:hover{
    /*filter: brightness(50%);*/

 }

 .AccueilProjet {
    margin-top: 1%;
   
 }
 .AccueilProjet h1{
    font-family: cursive;
    text-transform: uppercase;
    font-size: 2 vw;
 }

 .projet {
       
    background-color: #f7f3f3;
    margin-right: 20px;
    max-width: 240px;
    margin-bottom: 20px;
    

 }

 .projet h4{
    margin: 0;
 }

 .projet .description{
    padding: 5px;
    font-size: 15px;
 }
 .projet .date{
    font-size: 17px;
 }
 .AccueilProjet .projets {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    
 }
 .inverse{
   
      transform: scale(-1);
      background-color:  wheat;;
      color: white;
      
      border-radius: 15px;
  
 }
 .AccueilEnTet svg{
   width: 20px ;
   font-weight: bold;
   padding:  10px;
   border: solid;
   margin: 20px;
}
.AccueilButton{
   display: flex;
  
}
.AccueilButton button{
   padding-right: 15px;
  
}


 @media screen and (max-width:700px){

    .AccueilEnTete{
        margin-top: 10%;
        max-width: 100%;
    }
    .AccueilProjet .projets .projet{
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }
    .AccueilEnTete h1{
        font-size: 1em;
    }
    
    
}