.Apropos{
    margin: auto;
    
    
}
.lienMemePage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 4rem;
    background-color:#ffffff; 
    
}
.lienMemePage a{
    border: solid 1px;
    background-color: #ffffffff;
    font-weight: bold;
    font-size: 1.5vw;
    margin-right: 2px;    
}
*/*apropos----------------------------------------------------*/
.Competence{
    display: flex;   
    justify-content:space-between;
    padding: 5px;
    border-bottom: 2px solid rgb(10, 10, 81);
    
    
      
}
.Mots{
    width: 15%;   
    font-size: 15px;
    font-weight: bold; 
}
.Detail{
width: 79%;
background-color: #e9e8e8;

}
.Detail ul li{
    width: 80%;
    

    
}



.Photo1 img{
    width: 90%;
    max-height: 50%;
    
}
/**pour le mobile------------------------------------------*/
@media screen and (max-width:700px){
    .lienMemePage a{
        font-size: 0.75em;
     }    
    .Photo{
        display: none;
        max-width: 0;        
    }
    .Detail{        
        min-width: 65%;
    }         
}
/**--------*/

#MesAptitudes{
    position: sticky;
    top: 30pX;
}


