.conteneur {

    margin-top: 0rem;
    padding: 3rem;
    border-radius: border-radius;
    
    text-align: center;
  }
  
  label {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
  
  input {
      border: 2px solid rgba(red);
      border-radius: border-radius;
      padding: 0.5rem 1rem;
      padding-left: 1rem;
      font-size: 1rem;
    }
  
  .form-row {
      display: flex;
      flex-direction: column;
       margin-bottom: 1.5rem;
    }
  
    button {
      color: color-white;
      width: 100%;
      font-size: 1.4rem;
      background: primary-color;
      border-radius: border-radius;
      border: none;
      cursor: pointer;
      padding: 0.4rem 1.2rem;
      margin-top: 0.5rem;
    }
  
  .disabled-btn {
      cursor: not-allowed;
      background: #1d3557;
      color: aliceblue;
    }
  
  .disabled-btn1 {
      background: #09794e;
      color: aliceblue;
    }
  
  .error {
      color: red;
      font-size: 1rem;
      margin-top: 0.3rem;
    }
  
  .input-error {
        border-color: #e63946;;
      }
    
      .conteneur1 {
       display: flex;
       flex-wrap: wrap;
        grid-template-columns: repeat(2,1fr); 
        
        max-width: 100%;
      
        
        background-image : linear-gradient(rgba(4,9,30,0.7)), url("../ressources/carte1.png");
        background-position: center;
        background-size: cover;
       

        
        
      }

.conteneur1 img{
  width: 40%;
  margin: 20PX;
}
@media screen and (max-width:700px){
  .conteneur{
      width: 80%;
   } 
   .conteneur1 img{
    display: none;
   }
  }   