.conteneur{
    display: flex;
    flex-wrap: wrap;
    
    
}

.gauche{
    display: flex;
    padding: 25px;
   
   
     
}
.entete h3 {
    padding-right: 30px;

}
.entete img {
    width: 300px;
    padding: 25px;
   
    
}

.conteneurDestop{
    
        margin: 5%;
    
    
}
.photoAppli{
    display: grid;
gap: 10px;
grid-template-columns: repeat(2,1fr);    
}
.photoAppli img{
    border: solid 2px rgb(48, 14, 133);
    width:100% ;
    height: 100%;
    border-radius: 20PX;
}
.titre2{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-color: rgb(7, 119, 55); 
  width: 25%;
    color: rgb(241, 234, 234);
    font-weight: bold;
    padding: 20px;
    border-radius: 20px;
    margin: 2%;

    
}
.titre3{
    margin: 15%;
}