.conteneur{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(228, 243, 238);
}
.entete img{
    width: 100%;
}
.gauche{
    display: flex;
    align-items: center;     
    justify-items: center;  
    width: 50%;    
}
.droite  {
    width: 45%;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;    
}
.droite ul  {
    font-size: 15px;
    background-color: rgb(7, 119, 55);  
    border-radius: 300PX;
    color: white;
    font-weight: bold;
    width: 50%;
}

/***---------------*/
.conteneurProjetWeb{
    margin: 5%;
}

.graphique1{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);    
}
.graphique1 img{
    border: solid 2px  rgb(48, 14, 133);
    border-radius: 20px;
    width: 100%;    
}
.interp{
    grid-row: auto /span 2;
    height: 100%;  
}
/*---------titreweb---*/
.titreweb{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-color: rgb(7, 119, 55); 
  width: 25%;
    color: rgb(241, 234, 234);
    font-weight: bold;
    padding: 12px;
    border-radius: 20px;
}
/*---------projet2----*/
.projet2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    
}
.partie{
    width: 45%;
    
    margin: 30px;

    
}

/*------------*/
.photoResto{
    display: grid;
gap: 10px;
grid-template-columns: repeat(2,1fr);    
}
.photoResto img{
    border: solid 2px rgb(48, 14, 133);
    width:100% ;
    height: 100%;
    border-radius: 20PX;
}

@media screen and (max-width:700px){

    .partie{
        width: 100%;
    }
    
}
