.Competence{
    display: flex;
   
    justify-content: space-around;
    
}
.competenceMots{
    width: 10%;
   
    font-size: 15px;
    font-weight: bold;
    position: sticky;
    top: 4em;
    
    
}
.competenceDetail{
width: 40%;

}
.competencePhoto{
width: 40%;

}

.competencePhoto img{
    width: 100%;
}