.Footer .colonnes{
    margin-top: 5%;
    background-color:  #191970;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.Footer .colonnes1{
    font-size: 1em;
    background-color: #08292d;
    color: white;
    border-top: solid  2px white;
    padding: 0.5em;
}
.Footer p{
    font-size: 15px;
    color: #ccc;
    cursor: pointer;
}
.Footer p:hover{
    color: white;
}
.colonne{
    margin :20px;
}

@media screen and (max-width:700px){

    .Footer{
        justify-content: center;
       
    }
    .Footer .colonne{
        max-width: 100%;
        margin: 20px;
    }
    
}