.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #191970;

    color: white;
    text-align: left;
    
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.profile{
    display: flex;
    align-items: center;
}
.profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red;
}
.profile h1 {
    font-size: 15px;
    margin-left: 10px;
   
}


@media screen and (max-width:700px){

    .header{
        justify-content: center;
    }
    
}


