.MesInfo{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 30px;
    color: #394F8A	;
    
    max-width: 75%;
    justify-content: space-around;

    border-top-left-radius: 5px solid;
    box-shadow: 8px 8px 8px 8px #394F8A;
    border-radius: 35px;
  

}
.MesInfoTelepAdres span{
    font-weight: bold;
}
.MesInfoTelepAdres{
    
    
 
    padding: 15px;
     
     
     
     background-color: white;
     
     border-radius: 15px;
     box-shadow:3px 3px 2px rgb(54, 6, 116), inset 3em 4em   #191970;
     
}
.MesInfoTelepAdres1{
    display: flex;
   
    padding: 5px;
}

.MesInfoTelepAdres1 svg{
    
    padding-right: 10px;
    fill: white;
   
}
.MesInfoTelepAdres h3{
    color: white;
    font-weight: bold;

}


.MesInfo1 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #394F8A;
    margin-top: 25px;
    

}
.MesInfo1{
    
    padding: 30px;
    margin: 2px;
}