.Nav button{

    background-color: transparent;
    border: none;
    background-color: #191970;
    color: white;
   
    cursor: pointer;
    font-weight: bold;
}

.Nav ul {
    
    display: flex;
    text-align: right;
    
    list-style-type: none;
    column-gap: 1rem;

    
}

.Nav button:hover{
    color: red;
    
    
}
@media screen and (max-width:700px){

    .Nav{
        display: none;
    }
    
}

